<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Welcome To Datsmi!
  <p>Find yourself in a moment</p>
  <!-- UserName Input -->
  <ion-item>
    <ion-label position="floating">User Name</ion-label>
    <ion-input position="floating" clearInput></ion-input>
  </ion-item>
  <!-- Password Input -->
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" position="floating" clearInput></ion-input>
  </ion-item>
  <!-- Login Buttons -->
  <ion-button color="primary" href="/main/tabs/(home:home)">Log Me In</ion-button>
  <ion-button color="primary">Sign Me Up</ion-button>
</ion-content>
